@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Serif+Pro:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Great+Vibes&display=swap');

:root {
  --font-name: 'Great Vibes', cursive;
  --font-text: 'Crimson Pro', serif;


  --black-color: black;
  --gold-color: rgb(202, 204, 206);
  --linearGold-color: linear-gradient((25deg, rgb(15, 13, 7) 0%, rgb(54, 47, 22) 35%, rgb(14, 11, 5) 100%));
  --grey-color: #646161;
  --white-color: rgb(204, 194, 194);
  --glass-dark-color: 39,47%, 89%, 0.110;
  --glass-light-color: 19, 77%, 83%, 0.345;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

